<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Elife Travel{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Elife Travel" />
        <meta name="keywords" content="Projet Symfony" />
        <meta name="author" content="Aziz & Chedli" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{  asset('font-awesome/css/font-awesome.min.css')}}">
            <link href="{{  asset('css/family.css')}}" rel="stylesheet">
            <!-- Animate.css -->
            <link rel="stylesheet" href="{{  asset('css/animate.css')}}">
            <!-- Icomoon Icon Fonts-->
            <link rel="stylesheet" href="{{  asset('css/icomoon.css')}}">
            <!-- Themify Icons-->
            <link rel="stylesheet" href="{{  asset('css/themify-icons.css')}}">
            <!-- Bootstrap  -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css')}}">
            <!-- Magnific Popup -->
            <link rel="stylesheet" href="{{  asset('css/magnific-popup.css')}}">
            <!-- Magnific Popup -->
            <link rel="stylesheet" href="{{  asset('css/bootstrap-datepicker.min.css')}}">
            <!-- Owl Carousel  -->
            <link rel="stylesheet" href="{{  asset('css/owl.carousel.min.css')}}">
            <link rel="stylesheet" href="{{  asset('css/owl.theme.default.min.css')}}">
            <!-- Theme style  -->
            <link rel="stylesheet" href="{{  asset('css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            <!-- Modernizr JS -->
            <script src="{{  asset('js/modernizr-2.6.2.min.js')}}"></script>
	        <script src="{{  asset('js/respond.min.js')}}"></script>
            <!-- jQuery -->
            <script src="{{  asset('js/jquery.min.js')}}"></script>
            <!-- jQuery Easing -->
            <script src="{{  asset('js/jquery.easing.1.3.js')}}"></script>
            <!-- Bootstrap -->
            <script src="{{  asset('js/bootstrap.min.js')}}"></script>
            <!-- Waypoints -->
            <script src="{{  asset('js/jquery.waypoints.min.js')}}"></script>
            <!-- Carousel -->
            <script src="{{  asset('js/owl.carousel.min.js')}}"></script>
            <!-- countTo -->
            <script src="{{  asset('js/jquery.countTo.js')}}"></script>
            <!-- Stellar Parallax -->
            <script src="{{  asset('js/jquery.stellar.min.js')}}"></script>
            <!-- Magnific Popup -->
            <script src="{{  asset('js/jquery.magnific-popup.min.js')}}"></script>
            <script src="{{  asset('js/magnific-popup-options.js')}}"></script>
            <!-- Datepicker -->
            <script src="{{  asset('js/bootstrap-datepicker.min.js')}}"></script>
            <!-- Main -->
            <script src="{{  asset('js/main.js')}}"></script>

        {% endblock %}
    </head>
    <body>
    <div class="gtco-loader"></div>
        <div id="page">
        <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">

            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo">{% if app.user %}
                            <a href="{{ path('index') }}">{{ app.user.username }}</a>
                        {% else %}
                            <a href="{{ path('index') }}">ElifeTravel</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        <li><a href="{{ path('destination') }}">Destination</a></li>

                        {% if app.user %}
                        {% if app.user.getRoles()[0]=="admin"  %}
                            <li class="has-dropdown">
                                <a href="#">Tableau de board</a>
                                <ul class="dropdown">
                                    <li><a href="{{ path('RegisterAdmin')}}">Admin</a></li>
                                    <li><a href="{{ path('getdestination')}}">Destination</a></li>
                                </ul>
                            </li>
                        {% endif %}

                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('Register')}}">Sign up</a></li>
                            <li><a href="{{ path('Login')}}">Sign in</a></li>
                        {% endif %}
                            <li><a href="{{ path('contact')}}">Contact</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>
            <header id="gtco-header" class="gtco-cover gtco-cover-md"  style="background:url('{{  asset('images/bg.jpg')}}') ;background-size: cover;">
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0 text-left">


                            {% block header %}{% endblock %}


                        </div>
                    </div>
                </div>
            </header>
        </div>
        {% block body %}{% endblock %}

    </body>
<footer>



    {% block footer %}
        <footer id="gtco-footer" role="contentinfo">
            <div class="gtco-container">
                <div class="row row-p	b-md">

                    <div class="col-md-4">
                        <div class="gtco-widget">
                            <h3>About Us</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?</p>
                        </div>
                    </div>

                    <div class="col-md-2 col-md-push-1">
                        <div class="gtco-widget">
                            <h3>Destination</h3>
                            <ul class="gtco-footer-links">
                                <li><a href="#">Europe</a></li>
                                <li><a href="#">Australia</a></li>
                                <li><a href="#">Asia</a></li>
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">Dubai</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-md-push-1">
                        <div class="gtco-widget">
                            <h3>Hotels</h3>
                            <ul class="gtco-footer-links">
                                <li><a href="#">Luxe Hotel</a></li>
                                <li><a href="#">Italy 5 Star hotel</a></li>
                                <li><a href="#">Dubai Hotel</a></li>
                                <li><a href="#">Deluxe Hotel</a></li>
                                <li><a href="#">BoraBora Hotel</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-push-1">
                        <div class="gtco-widget">
                            <h3>Get In Touch</h3>
                            <ul class="gtco-quick-contact">
                                <li><a href="#"><i class="icon-phone"></i> +216 71 160 600</a></li>
                                <li><a href="#"><i class="icon-mail2"></i> ElifeTravel@gmail.com</a></li>
                                <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row copyright">
                    <div class="col-md-12">
                        <p class="pull-left">
                            <small class="block">&copy; 2021 Chedli Jenhani & Aziz Yahyaoui.</small>
                            <small class="block">Projet Symfony Théme Loisirs & Voyage</small>
                        </p>

                            <ul class="gtco-social-icons pull-right">
                                <li><a href="https://www.facebook.com/elife.tn/"><i class="icon-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/ftpd/"><i class="icon-linkedin"></i></a></li>
                            </ul>


                    </div>
                </div>

            </div>
        </footer>

    {% endblock %}
</footer>
</html>
