{% extends 'base.html.twig' %}

{% block title %}Destination!{% endblock %}
{% block header %}
    <div class="row row-mt-15em">
        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
            <h1>Tableau de board "Destination"</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-lg-12">
    <div class="ibox ">
    <div class="ibox-title" style="float: right;">
        <a href="{{ path('AddDestinationPage')}}" class="btn btn-primary" >
            Add New destination
        </a>
    </div>
    <div class="ibox-content">
<table class="table table-striped" >
    <thead>
    <tr>
        <th>#</th>
        <th>Ville</th>
        <th>Pays</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    {% for d in destinations %}
        <tr >
            <td>
                {{ d.id}}
            </td>
            <td>
                {{ d.ville }}
            </td>
            <td>
                {{ d.pays }}
            </td>
            <td>
                {{ d.description }}
            </td>
            <td>
                {{  d.photo }}
            </td>
            <td>
              <a href='/destination/update/{{ d.id }}'><i class="fa fa-edit"></i></a>
            </td>
            <td>
                <a href='/destination/delete/{{ d.id }}'><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
    </div>
    </div>
    </div>
    </div>

{% endblock %}